In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
def transpose(A):
    b = []
    x_len = len(A)
    y_len = len(A[0])
    for i in range(y_len):
        for j in range(x_len):
            b.append(A[j][i])
    b = np.array(b).reshape((y_len,x_len)).tolist()
    return b

In [3]:
def add_matrix(A,B):
    c = []
    x_len = len(A)
    y_len = len(A[0])
    for i in range(x_len):
        c.append([A[i][j]+B[i][j] for j in range(y_len)])
    return c

In [4]:
def sub_matrix(A,B):
    c = []
    x_len = len(A)
    y_len = len(A[0])
    for i in range(x_len):
        c.append([A[i][j]-B[i][j] for j in range(y_len)])
    return c

In [5]:
def scalar_matrix(A,scalar):
    c = []
    x_len = len(A)
    y_len = len(A[0])
    for i in range(x_len):
        c.append([scalar * A[i][j] for j in range(y_len)])
    return c

In [6]:
def multiple_matrix(A,B):
    c = []
    x_len = len(A)
    y_len = len(B[0])
    mul_times = len(B)
    for i in range(x_len):
        c.append([sum([A[i][j]*B[j][k] for j in range(mul_times)]) for k in range(y_len)])
    return c

In [7]:
def LU_decomposition(A):
    x_len = len(A)
    y_len = len(A[0])
    L = []
    U = A
    for i in range(x_len):
        L.append([1 if i==j else 0 for j in range(x_len)])
    for i in range(x_len):
        for j in range(y_len):
            if i<=j:
                continue
            L[i][j] = U[i][j]/U[j][j]
            U[i] =  [U[i][k]-L[i][j]*U[j][k] for k in range(y_len)]
    return L,U

In [50]:
def inverse_matrix(A):
    x_len = len(A)
    y_len = len(A[0])
    L,U = LU_decomposition(A)
    I = []
    Y = []
    X = []
    for i in range(x_len):
        I.append([1 if i==j else 0 for j in range(x_len)])
    for i in range(x_len):                  # Ly = b
        Y.append([])
        for j in range(y_len):
            s = 0
            for k in range(y_len):
                if k >= i:
                    continue
                s += L[i][k]*Y[k][j]
            Y[i].append((I[i][j]-s)/L[i][i])
 


    U = U[::-1]
    Y = Y[::-1]
    for i in range(x_len):
        U[i] = U[i][::-1]
        Y[i] = Y[i][::-1]
        
    for i in range(x_len):                           # Ux = b 偷吃步
        X.append([])
        for j in range(y_len):
            s = 0
            for k in range(y_len):
                if k >= i:
                    continue
                s += U[i][k]*X[k][j]
            X[i].append((Y[i][j]-s)/U[i][i])
    X = X[::-1]
    for i in range(x_len):
        X[i] = X[i][::-1]
        
        
    return X

In [ ]:
Q = [[1,2,3],[2,5,7],[3,5,3]]
Q2 = [[1,2,3],[2,5,7],[3,5,3]]
Q3 = inverse_matrix(Q)
pd.DataFrame(Q3)

In [46]:
pd.DataFrame(Q[::-1][2])

   0
0  1
1  2
2  3

In [30]:
qqq = list(range(5))[::-1]
qqq

[4, 3, 2, 1, 0]

In [29]:
L = [0,10,20,40]
L[::]

[0, 10, 20, 40]

In [ ]:
l,u = LU_decomposition(Q3)

In [8]:
pd.DataFrame(l)

     0    1  2
0  1.0  0.0  0
1  2.0  1.0  0
2  3.0 -1.0  1

In [9]:
pd.DataFrame(u)

     0    1     2
0  2.0  4.0   6.0
1  0.0  2.0   2.0
2  0.0  0.0 -10.0