In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
def transpose(A):
    b = []
    x_len = len(A)
    y_len = len(A[0])
    for i in range(y_len):
        for j in range(x_len):
            b.append(A[j][i])
    b = np.array(b).reshape((y_len,x_len)).tolist()
    return b

In [3]:
def multiple_matrix(A,B):
    c = []
    x_len = len(A)
    y_len = len(B[0])
    mul_times = len(B)
    for i in range(x_len):
        c.append([sum([A[i][j]*B[j][k] for j in range(mul_times)]) for k in range(y_len)])
    return c

In [23]:
def LU_decomposition(A):
    x_len = len(A)
    y_len = len(A[0])
    L = []
    U = A
    for i in range(x_len):
        L.append([1 if i==j else 0 for j in range(x_len)])
    for i in range(x_len):
        for j in range(y_len):
            if i<=j:
                continue
            L[i][j] = U[i][j]/U[j][j]
            U[i] =  [U[i][k]-L[i][j]*U[j][k] for k in range(y_len)]
    return L,U

In [24]:
L = []
for i in range(4):
    L.append([1 if i==j else 0 for j in range(4)])
pd.DataFrame(L)

   0  1  2  3
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1

In [25]:
Q = [[1,2,3],[2,5,7],[3,5,3]]
pd.DataFrame(Q)

   0  1  2
0  1  2  3
1  2  5  7
2  3  5  3

In [26]:
l,u = LU_decomposition(Q)

In [27]:
pd.DataFrame(l)

     0    1  2
0  1.0  0.0  0
1  2.0  1.0  0
2  3.0 -1.0  1

In [28]:
pd.DataFrame(u)

     0    1    2
0  1.0  2.0  3.0
1  0.0  1.0  1.0
2  0.0  0.0 -5.0